/* - - - - - - - - - - FOOTER - - - - - - - - - - */

footer {
    width: 100%;
    background-color: #83796a;
    position: relative;
    display: block;
    float: left;
}

footer .container {
    max-width: 1160px;
    width: 100%;
    position: relative;
    display: block;
    margin: 0 auto;
}

footer h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    text-align: center;
    color: #fff;
}

footer .form-horizontal {
    display: block;
    max-width: 530px;
    margin: 0 auto;
}

footer .form-control {
    display: block;
    padding: 12px 14px;
    font-size: 20px;
    background-color: #f6f5f2;
    border: none;
    margin: 0 0 30px 0;
    width: 100%;
    box-sizing: border-box;
}

footer .btn {
    font-size: 26px;
    font-weight: 600;
    display: block;
    border-bottom: 3px solid #ca4233;
    margin: 0 auto;
    margin-bottom: 40px;
    float: none;
    min-width: 40%;
}

footer .btn:hover, .btn:active {
    color: #eb6355;
    background-color: #f6f5f2;
    border-bottom: 3px solid #ebebeb;
}

.social {
    width: 13.4em;
    margin: 0 auto;
}

.social-btn {
    margin: 0 auto;
    padding: 0;
    border: none;
}

.adress-line {
    background-color: #665f4e;
    width: 100%;
    float: left;
    margin-top: 20px;
}

.adress-line p, .copyright p, .copyright a {
    color: #fff;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}

.copyright p, .copyright a {
    text-align: center;
    margin-top: 80px;
    font-size: 12px;
    color: #665f4e;
}

.left-footer {
    text-align: left;
    float: left;
}

.center-footer {
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}

.right-footer {
    position: absolute;
    right: 0;
}

*::-webkit-input-placeholder {
    color: #eb6355;
}
*:-moz-placeholder {
    color: #eb6355;
}
*:-ms-input-placeholder { /* IE10+ */
    color: #eb6355;
}

.under-ul {
    margin-bottom: 0 !important;
}

.under-li {
    margin-bottom: 10px !important;
    margin-top: 10px;
    font-size: 16px !important;
    padding: 0 !important;
    list-style: disc !important;
}
