/* - - - - - - - - - - ICON - - - - - - - - - - */

.icon-list {
    background: url("../img/icon-list.png") no-repeat;
    width: 50px;
    height: 126%;
    position: absolute;
    top: 4px;
    left: 0;
    background-size: 100%;
}

.icon-check {
    background: url("../img/icon-check.png");
    width: 60px;
    height: 60px;
    position: absolute;
    top: 20px;
    left: 0;
}

.icon-smile {
    background: url("../img/icon-smile.png") no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 6px;
    left: 0;
    background-size: 100%;
}

.icon-graph {
    background: url("../img/icon-graph.png");
    width: 60px;
    height: 60px;
    position: absolute;
    top: 20px;
    left: 0;
}

.icon-map-position {
    background: url("../img/icon-map-position.png") no-repeat;
    width: 50px;
    height: 111%;
    position: absolute;
    top: 6px;
    left: 0;
    background-size: 100%;
}

.icon-clock {
    background: url("../img/icon-clock.png") no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 5px;
    left: 0;
    background-size: 100%;
}

.icon-time {
    background: url("../img/icon-time.png") no-repeat;
    width: 50px;
    height: 120%;
    position: absolute;
    top: 6px;
    left: 0;
    background-size: 100%;
}

.icon-sipky {
    background: url("../img/icon-sipky.png") no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 5px;
    left: 0;
    background-size: 100%;
}

.icon-map {
    background: url("../img/icon-map.png") no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 0;
    background-size: 100%;
}

.icon-neighbour {
    background: url("../img/icon-neighbour.png");
    width: 60px;
    height: 50px;
    position: absolute;
    top: 27px;
    left: 0;
}

.icon-notification {
    background: url("../img/icon-notification.png");
    width: 60px;
    height: 50px;
    position: absolute;
    top: 27px;
    left: 0;
}