/*!
 * Copyright 2013 Mapilary s.r.o.
 *
 * Author - Marian Kadlec - http://mariankadlec.com - marian.kadlec@icloud.com
 *
 */
/*
 * Table of contents:
 *
 * HEADER
 * SLIDER
 * CONTENT
 * ICON
 * FOOTER
 * ABOUT US
 * PRICE LIST
 * FEATURES
 * WIDGET
 * xx
 * xx
 * xx
 * xx
 * xx
 * xx
 */
/* - - - - - - - - - - HEADER - - - - - - - - - - */
/* line 3, ../sass/_header.scss */
header {
  width: 100%;
}

/* line 7, ../sass/_header.scss */
.navbar-header {
  max-width: 1160px;
  width: 100%;
  position: relative;
}

/* line 13, ../sass/_header.scss */
.cbp-af-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  height: 170px;
  background: rgba(255, 255, 255, 0.96);
  -moz-transition: height 0.3s;
  -o-transition: height 0.3s;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  -moz-box-shadow: 0px, 1px, 2px, rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px, 1px, 2px, rgba(0, 0, 0, 0.1);
  box-shadow: 0px, 1px, 2px, rgba(0, 0, 0, 0.1);
}

/* line 25, ../sass/_header.scss */
.cbp-af-header .cbp-af-inner {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

/* line 31, ../sass/_header.scss */
.cbp-af-header.cbp-af-header-shrink {
  height: 90px;
}

/* line 35, ../sass/_header.scss */
.logo {
  margin-top: 19px;
  float: left;
  max-height: 129px;
  z-index: 2;
  position: relative;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

/* line 44, ../sass/_header.scss */
h1 {
  margin: 0;
  padding: 0;
}

/* line 49, ../sass/_header.scss */
.navbar-header h2 {
  font-family: "Open Sans Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #eb6355;
  letter-spacing: -1px;
  margin-top: 50px;
  display: block;
  float: left;
}

/* line 62, ../sass/_header.scss */
.cbp-af-header-shrink .navbar-header h2 {
  font-size: 20px;
  margin-top: 24px;
  margin-left: 10px;
}

/* line 68, ../sass/_header.scss */
h1 {
  text-indent: -9999px;
  position: absolute;
}

/* line 76, ../sass/_header.scss */
.cbp-af-header-shrink .logo {
  max-height: 55px;
  margin-top: 16px;
}

/* line 81, ../sass/_header.scss */
.cbp-af-header-shrink .form-inline {
  margin-top: 16px;
}

/* line 85, ../sass/_header.scss */
.cbp-af-header-shrink nav ul {
  margin: 54px 0 0 0;
  left: 42px;
}

/* line 90, ../sass/_header.scss */
.cbp-af-header-shrink nav ul li {
  /*font-size: 16px;*/
}

/* line 94, ../sass/_header.scss */
.form-inline {
  width: 550px;
  margin: 0 auto;
  margin-top: 53px;
  -webkit-appearance: none;
  display: block;
  float: right;
  z-index: -2;
  max-height: 129px;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

/* line 106, ../sass/_header.scss */
.form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  -webkit-appearance: none;
}

/* line 113, ../sass/_header.scss */
.form-control {
  display: block;
  background-color: #F0EEEA;
  border: none;
  margin: 0;
  padding: 22px 30px;
  -webkit-appearance: none;
  width: 300px;
  font-family: "Open Sans Condensed";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  -moz-box-sizing: border-box;
}

/* line 128, ../sass/_header.scss */
.cbp-af-header-shrink .form-control {
  padding: 8px 17px;
}

/* line 132, ../sass/_header.scss */
.btn {
  color: #fff;
  background-color: #eb6355;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 22px 52px;
  font-family: "Open Sans Condensed";
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 30px;
  box-sizing: border-box;
  float: right;
  -webkit-font-smoothing: auto;
}

/* line 153, ../sass/_header.scss */
.cbp-af-header-shrink .btn {
  padding: 8px 52px;
}

/* line 157, ../sass/_header.scss */
.btn:hover, .btn:active {
  color: #eb6355;
  background-color: #f6f5f2;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* line 163, ../sass/_header.scss */
nav {
  width: 100%;
}
/* line 166, ../sass/_header.scss */
nav ul {
  z-index: 3;
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 118px 0 0 0;
  position: absolute;
  left: 114px;
}
/* line 176, ../sass/_header.scss */
nav ul li {
  margin-left: 20px;
  font-family: "Open Sans Condensed";
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: -1px;
}
/* line 186, ../sass/_header.scss */
nav ul li a {
  color: #827869;
  text-decoration: none;
}
/* line 191, ../sass/_header.scss */
nav ul li a:hover, nav nav .active {
  color: #eb6355;
}

/* line 1, ../sass/_content.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

/* line 8, ../sass/_content.scss */
body {
  margin: 0;
  background-color: #fff;
}

/* line 13, ../sass/_content.scss */
.img-responsive {
  max-width: 100%;
  height: auto;
}

/* line 18, ../sass/_content.scss */
.container {
  max-width: 1160px;
  margin: 0 auto;
}

/* line 23, ../sass/_content.scss */
a {
  color: transparent;
  text-decoration: none;
}

/* line 28, ../sass/_content.scss */
.cbp-af-header.cbp-af-header-shrink, .cbp-af-header-shrink .logo, .cbp-af-header-shrink nav ul, .cbp-af-header-shrink .form-control, .cbp-af-header-shrink .btn, .cbp-af-header, nav ul, .form-control, .btn, .logo.navbar-header h2, .cbp-af-header-shrink .navbar-header h2 {
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

/* line 32, ../sass/_content.scss */
.plus {
  padding-top: 25px;
  display: block;
  margin: 0 auto;
}

/* - - - - - - - - - - CONTENT - - - - - - - - - - */
/* line 40, ../sass/_content.scss */
#widget {
  height: 360px;
  display: none;
  background-color: #E7E7E7;
}
/* line 44, ../sass/_content.scss */
#widget .preload {
  height: 100%;
  width: 100%;
  font-size: 26px;
  color: #827869;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  font-family: "Open Sans Condensed";
}
/* line 54, ../sass/_content.scss */
#widget .loading {
  position: relative;
  top: 40%;
  line-height: 40px;
}
/* line 59, ../sass/_content.scss */
#widget .notice {
  position: absolute;
  bottom: 30%;
  width: 100%;
  font-size: 18px;
}

/* line 67, ../sass/_content.scss */
#content {
  width: 100%;
  height: auto;
  float: left;
  padding-top: 170px;
}

/*#content .container {
    width: 100%;
    position: absolute;
}*/
/* line 79, ../sass/_content.scss */
#content .precontainer {
  width: 100%;
  position: relative;
  min-height: 729px;
}

/* line 85, ../sass/_content.scss */
.container-left {
  width: 50%;
  height: 100%;
  background: #eb6355;
  position: absolute;
  z-index: -1;
}

/* line 93, ../sass/_content.scss */
.container-right {
  width: 50%;
  height: 100%;
  background: #83796a;
  position: absolute;
  right: 0;
  z-index: -1;
}

/* line 102, ../sass/_content.scss */
.container-left2 {
  width: 50%;
  height: 100%;
  background: #ff9287;
  position: absolute;
  z-index: -1;
}

/* line 110, ../sass/_content.scss */
.container-right2 {
  width: 50%;
  height: 100%;
  background: #a59b8b;
  position: absolute;
  right: 0;
  z-index: -1;
}

/* line 119, ../sass/_content.scss */
.incontainer {
  max-width: 1160px;
  margin: 0 auto;
  z-index: 3;
}

/* line 125, ../sass/_content.scss */
.incontainer h3, .contact h3, .panel-default > .panel-heading, .mission h3, .vision h3, .values h3, .slider h2, .slider h3, .help h3, .incontainer h4 {
  font-family: "Open Sans Condensed";
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
  color: #fff;
  letter-spacing: -1px;
  margin: 20px 0 0 0;
}

/* line 137, ../sass/_content.scss */
.incontainer h4 {
  font-size: 30px;
  text-transform: none;
  padding: 10px 0 0 0;
  position: relative;
  text-align: left;
  margin: 0 auto;
  display: block;
  width: 80%;
  left: -2px;
}

/* line 149, ../sass/_content.scss */
.slider h2 {
  color: #665f4e;
  font-size: 80px;
}

/* line 154, ../sass/_content.scss */
.slider3 {
  color: #eb6355 !important;
  font-size: 80px !important;
}

/* line 159, ../sass/_content.scss */
.slider h3 {
  color: #eb6355;
  /*text-shadow: 1px 1px 1px #4f4f4f;*/
  font-size: 40px;
  font-weight: 600;
}

/* line 166, ../sass/_content.scss */
.contact h3, .panel-default > .panel-heading {
  color: #eb6355;
  font-size: 26px;
  margin-bottom: 5px;
  margin-top: 45px;
}

/* line 173, ../sass/_content.scss */
.incontainer-left {
  width: 50%;
  display: block;
  float: left;
  background: #eb6355;
}

/* line 180, ../sass/_content.scss */
.incontainer-right {
  width: 50%;
  display: block;
  float: left;
  background: #83796a;
}

/* line 187, ../sass/_content.scss */
.incontainer-left2 {
  width: 50%;
  display: block;
  float: left;
  background: #ff9287;
}

/* line 194, ../sass/_content.scss */
.incontainer-right2 {
  width: 50%;
  display: block;
  float: left;
  background: #a59b8b;
}

/* line 201, ../sass/_content.scss */
.icon {
  margin: 0 auto;
  display: block;
  margin-top: 45px;
}

/* line 207, ../sass/_content.scss */
.incontainer ul {
  margin: 0 auto;
  display: block;
  width: 80%;
  margin-bottom: 50px;
}

/* line 214, ../sass/_content.scss */
li, .incontainer p, .mission p, .vision p, .values p, .help p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  color: #fff;
  font-size: 20px;
  margin-bottom: 9px;
}

/* line 223, ../sass/_content.scss */
.benefits, .story, .logos, .contact, .mission, .vision, .values, .help {
  width: 100%;
  position: relative;
  background-color: #f6f5f2;
  display: block;
  float: left;
}

/* line 231, ../sass/_content.scss */
.partners {
  width: 100%;
  display: block;
  float: left;
}

/* line 237, ../sass/_content.scss */
.logos {
  text-align: center;
}

/* line 241, ../sass/_content.scss */
.wayra {
  margin: 144px auto;
}

/* line 245, ../sass/_content.scss */
.story, .logos {
  background: #fff;
}

/* line 249, ../sass/_content.scss */
.partners, .mission {
  background: #eb6355;
}

/* line 253, ../sass/_content.scss */
.story .container, .partners .container, .logos .container {
  max-width: 1160px !important;
  margin: 0 auto;
  display: block;
  position: relative !important;
}

/* line 260, ../sass/_content.scss */
#content .benefits .container {
  max-width: 1160px;
  position: relative;
  display: block;
  margin: 0 auto;
}

/* line 267, ../sass/_content.scss */
.benefits .incontainer-left {
  width: 50%;
  display: block;
  float: left;
  background-color: #f6f5f2;
}

/* line 274, ../sass/_content.scss */
.benefits .incontainer-right {
  width: 50%;
  display: block;
  float: left;
  background-color: #f6f5f2;
}

/* line 281, ../sass/_content.scss */
.benefits h2, .story h2, .partners h2, .contact h2, .title h2 {
  font-family: "Open Sans Condensed";
  font-style: normal;
  font-weight: 300;
  margin: 0;
  padding: 50px 50px 0 50px;
  text-align: center;
  color: #eb6355;
  font-size: 74px;
  text-transform: uppercase;
}

/* line 293, ../sass/_content.scss */
.title h2 {
  font-size: 40px;
  padding: 20px 0 20px 0;
}

/* line 298, ../sass/_content.scss */
.story h2 {
  color: #83796a;
  padding: 50px 5px 0 5px;
}

/* line 303, ../sass/_content.scss */
.partners h2 {
  color: #fff;
  padding: 50px 5px 0 5px;
}

/* line 308, ../sass/_content.scss */
.story p, .help p {
  color: #827869;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
}

/* line 317, ../sass/_content.scss */
.linka, .linka2 {
  margin: 0 auto;
  display: block;
  padding-bottom: 30px;
}

/* line 323, ../sass/_content.scss */
.linka2 {
  padding-bottom: 50px;
}

/* line 327, ../sass/_content.scss */
.benefits .incontainer-left ul, .benefits .incontainer-right ul {
  margin: 0 auto;
  display: block;
  width: 75%;
  margin-bottom: 80px;
  list-style: none;
  padding-left: 0;
}

/* line 336, ../sass/_content.scss */
.column1-3 ul, .story .column1-3 p {
  width: 75%;
  margin: 0 auto;
}

/* line 341, ../sass/_content.scss */
.benefits .incontainer-left li, .benefits .incontainer-right li, .benefits .incontainer-right p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  color: #eb6355;
  font-size: 20px;
  margin-bottom: 50px;
  list-style: none;
  position: relative;
  padding: 0 0 0 70px;
}

/* line 353, ../sass/_content.scss */
.benefits a {
  font-family: "Open Sans Condensed";
  font-style: normal;
  font-weight: 700;
  color: #eb6355;
  font-size: 18px;
  margin-bottom: 50px;
  float: right;
  text-transform: uppercase;
}

/* line 364, ../sass/_content.scss */
.benefits a:hover {
  color: #83796a;
}

/* line 368, ../sass/_content.scss */
.benefits .incontainer-right li, .benefits .incontainer-right p {
  color: #83796a;
}

/* line 372, ../sass/_content.scss */
.benefits .incontainer-left h3, .benefits .incontainer-right h3, .story h3 {
  font-family: "Open Sans Condensed";
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  color: #eb6355;
  letter-spacing: -1px;
  margin: 20px;
}

/* line 384, ../sass/_content.scss */
.career {
  text-transform: none !important;
  padding-bottom: 20px;
}

/* line 389, ../sass/_content.scss */
.benefits .incontainer-right h3 {
  color: #83796a;
}

/* line 393, ../sass/_content.scss */
.column1-3 {
  float: left;
  width: 30%;
  padding-bottom: 80px;
}

/* line 399, ../sass/_content.scss */
.column1-5 {
  float: left;
  width: 5%;
  padding-bottom: 80px;
}

/* line 405, ../sass/_content.scss */
.column1-3-career {
  float: left;
  width: 33.33333%;
}

/* line 410, ../sass/_content.scss */
.column1-3 p, .contact2-3 p, .contact1-3 p, .story li {
  color: #827869;
  font-size: 18px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  text-align: center;
  line-height: 30px;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 423, ../sass/_content.scss */
.story li, .story .column1-3 p {
  text-align: left;
}

/* line 427, ../sass/_content.scss */
.contact2-3 p, .contact1-3 p {
  font-size: 16px;
  line-height: 26px;
}

/* line 432, ../sass/_content.scss */
.column1-4 {
  float: left;
  width: 25%;
  min-height: 300px;
}

/* line 438, ../sass/_content.scss */
.collapse {
  display: none;
}

/* line 442, ../sass/_content.scss */
.navbar-header .collapse {
  display: block;
}

/* line 446, ../sass/_content.scss */
.collapse.in {
  display: block;
}

/* line 449, ../sass/_content.scss */
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  -webkit-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

/* line 456, ../sass/_content.scss */
.panel {
  margin-bottom: 20px;
  background-color: #f6f5f2;
}

/* line 461, ../sass/_content.scss */
.panel-body {
  padding: 15px;
}

/* line 465, ../sass/_content.scss */
h4 {
  margin: 0;
}

/* line 469, ../sass/_content.scss */
.panel-title {
  color: #83796a;
}

/* line 473, ../sass/_content.scss */
.panel-group .panel {
  margin-bottom: 0;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 45px;
}

/* line 480, ../sass/_content.scss */
.panel-group .panel + .panel {
  margin-top: 5px;
}

/* line 484, ../sass/_content.scss */
.panel-group .panel-heading {
  border-bottom: 0;
}

/* line 488, ../sass/_content.scss */
.panel-group .panel-footer {
  border-top: 0;
}

/* line 492, ../sass/_content.scss */
.panel-default > .panel-heading {
  color: #eb6355;
  padding: 0;
  margin: 0;
}

/* line 498, ../sass/_content.scss */
.clearer {
  width: 100% !important;
  font-size: 0 !important;
  line-height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  clear: both;
}

/* line 500, ../sass/_content.scss */
.triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px 15px 0 15px;
  border-color: #eb6455 transparent transparent transparent;
  line-height: 0px;
  _border-color: #eb6455 #000000 #000000 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
  margin: 0 auto;
}

/* line 512, ../sass/_content.scss */
.contact1-3 {
  float: left;
  display: block;
  width: 33.333333%;
  padding-bottom: 50px;
}

/* line 519, ../sass/_content.scss */
.contact2-3 {
  float: left;
  display: block;
  width: 66.666666%;
}

/* - - - - - - - - - - ICON - - - - - - - - - - */
/* line 3, ../sass/_icons.scss */
.icon-list {
  background: url('../assets/img/icon-list.png?1414330376') no-repeat;
  width: 50px;
  height: 126%;
  position: absolute;
  top: 4px;
  left: 0;
  background-size: 100%;
}

/* line 13, ../sass/_icons.scss */
.icon-check {
  background: url('../assets/img/icon-check.png?1414330376');
  width: 60px;
  height: 60px;
  position: absolute;
  top: 20px;
  left: 0;
}

/* line 22, ../sass/_icons.scss */
.icon-smile {
  background: url('../assets/img/icon-smile.png?1414330376') no-repeat;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 6px;
  left: 0;
  background-size: 100%;
}

/* line 32, ../sass/_icons.scss */
.icon-graph {
  background: url('../assets/img/icon-graph.png?1414330376');
  width: 60px;
  height: 60px;
  position: absolute;
  top: 20px;
  left: 0;
}

/* line 41, ../sass/_icons.scss */
.icon-map-position {
  background: url('../assets/img/icon-map-position.png?1414330376') no-repeat;
  width: 50px;
  height: 111%;
  position: absolute;
  top: 6px;
  left: 0;
  background-size: 100%;
}

/* line 51, ../sass/_icons.scss */
.icon-clock {
  background: url('../assets/img/icon-clock.png?1414330376') no-repeat;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 5px;
  left: 0;
  background-size: 100%;
}

/* line 61, ../sass/_icons.scss */
.icon-time {
  background: url('../assets/img/icon-time.png?1414330376') no-repeat;
  width: 50px;
  height: 120%;
  position: absolute;
  top: 6px;
  left: 0;
  background-size: 100%;
}

/* line 71, ../sass/_icons.scss */
.icon-sipky {
  background: url('../assets/img/icon-sipky.png?1414330376') no-repeat;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 5px;
  left: 0;
  background-size: 100%;
}

/* line 81, ../sass/_icons.scss */
.icon-map {
  background: url('../assets/img/icon-map.png?1414330376') no-repeat;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  left: 0;
  background-size: 100%;
}

/* line 91, ../sass/_icons.scss */
.icon-neighbour {
  background: url('../assets/img/icon-neighbour.png?1414330376');
  width: 60px;
  height: 50px;
  position: absolute;
  top: 27px;
  left: 0;
}

/* line 100, ../sass/_icons.scss */
.icon-notification {
  background: url('../assets/img/icon-notification.png?1414330376');
  width: 60px;
  height: 50px;
  position: absolute;
  top: 27px;
  left: 0;
}

/* - - - - - - - - - - FOOTER - - - - - - - - - - */
/* line 3, ../sass/_footer.scss */
footer {
  width: 100%;
  background-color: #83796a;
  position: relative;
  display: block;
  float: left;
}
/* line 10, ../sass/_footer.scss */
footer .container {
  max-width: 1160px;
  width: 100%;
  position: relative;
  display: block;
  margin: 0 auto;
}
/* line 18, ../sass/_footer.scss */
footer h2 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  text-align: center;
  color: #fff;
}
/* line 27, ../sass/_footer.scss */
footer .form-horizontal {
  display: block;
  max-width: 530px;
  margin: 0 auto;
}
/* line 33, ../sass/_footer.scss */
footer .form-control {
  display: block;
  padding: 12px 14px;
  font-size: 20px;
  background-color: #f6f5f2;
  border: none;
  margin: 0 0 30px 0;
  width: 100%;
  box-sizing: border-box;
}
/* line 44, ../sass/_footer.scss */
footer .btn {
  font-size: 26px;
  font-weight: 600;
  display: block;
  border-bottom: 3px solid #ca4233;
  margin: 0 auto;
  margin-bottom: 40px;
  float: none;
  min-width: 40%;
}
/* line 55, ../sass/_footer.scss */
footer .btn:hover, footer .btn:active {
  color: #eb6355;
  background-color: #f6f5f2;
  border-bottom: 3px solid #ebebeb;
}

/* line 62, ../sass/_footer.scss */
.social {
  width: 13.4em;
  margin: 0 auto;
}

/* line 67, ../sass/_footer.scss */
.social-btn {
  margin: 0 auto;
  padding: 0;
  border: none;
}

/* line 73, ../sass/_footer.scss */
.adress-line {
  background-color: #665f4e;
  width: 100%;
  float: left;
  margin-top: 20px;
}

/* line 80, ../sass/_footer.scss */
.adress-line p, .copyright p, .copyright a {
  color: #fff;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}

/* line 88, ../sass/_footer.scss */
.copyright p, .copyright a {
  text-align: center;
  margin-top: 80px;
  font-size: 12px;
  color: #665f4e;
}

/* line 95, ../sass/_footer.scss */
.left-footer {
  text-align: left;
  float: left;
}

/* line 100, ../sass/_footer.scss */
.center-footer {
  position: absolute;
  right: 0;
  left: 0;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
}

/* line 109, ../sass/_footer.scss */
.right-footer {
  position: absolute;
  right: 0;
}

/* line 114, ../sass/_footer.scss */
*::-webkit-input-placeholder {
  color: #eb6355;
}

/* line 117, ../sass/_footer.scss */
*:-moz-placeholder {
  color: #eb6355;
}

/* line 120, ../sass/_footer.scss */
*:-ms-input-placeholder {
  /* IE10+ */
  color: #eb6355;
}

/* line 124, ../sass/_footer.scss */
.under-ul {
  margin-bottom: 0 !important;
}

/* line 128, ../sass/_footer.scss */
.under-li {
  margin-bottom: 10px !important;
  margin-top: 10px;
  font-size: 16px !important;
  padding: 0 !important;
  list-style: disc !important;
}

/* - - - - - - - - - - ABOUT US - - - - - - - - - - */
/* line 5, ../sass/aboutus.scss */
.mission-left, .mission-right, .vision-left, .vision-right, .values-left, .values-right {
  width: 50%;
  display: block;
  float: left;
  background: #eb6355;
  min-height: none;
}

/* line 13, ../sass/aboutus.scss */
.mission h3, .vision h3, .values h3 {
  padding-top: 15%;
  text-align: left;
}

/* line 18, ../sass/aboutus.scss */
.vision h3, .vision p {
  color: #eb6355;
}

/* line 22, ../sass/aboutus.scss */
.values h3, .values p {
  color: #454038;
}

/* line 26, ../sass/aboutus.scss */
.mission img, .vision img, .values img, .help img {
  margin: 0 auto;
  display: block;
}

/* line 31, ../sass/aboutus.scss */
.vision-left, .vision-right {
  background: #f6f5f2;
}

/* line 35, ../sass/aboutus.scss */
.values-left, .values-right, .values, .help {
  background: #989084;
}

/* line 39, ../sass/aboutus.scss */
.values-right {
  float: right;
}

/* line 43, ../sass/aboutus.scss */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

/* line 48, ../sass/aboutus.scss */
.cf:after {
  clear: both;
}

/* - - - - - - - - - - PRICE LIST - - - - - - - - - - */
/* line 5, ../sass/pricelist.scss */
.help {
  padding-top: 3%;
  text-align: center;
  background-color: #f6f5f2;
}

/* line 11, ../sass/pricelist.scss */
.help p {
  color: #83796a;
}

/* - - - - - - - - - - FEATURES - - - - - - - - - - */
/* line 5, ../sass/features.scss */
.features {
  width: 100%;
  position: relative;
  background-color: #fff;
  display: block;
}
/* line 11, ../sass/features.scss */
.features h2 {
  font-family: "Open Sans Condensed";
  font-style: normal;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #eb6355;
  font-size: 74px;
  text-transform: uppercase;
  line-height: 100px;
}
/* line 24, ../sass/features.scss */
.features .container {
  width: 100%;
  max-width: 100%;
  display: block;
  float: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 32, ../sass/features.scss */
.features .container-in {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/* line 39, ../sass/features.scss */
.features .container-left, .features .container-right {
  width: 50%;
  display: block;
  float: left;
  position: relative;
  background: #fff;
  z-index: 3;
}
/* line 48, ../sass/features.scss */
.features .container h3 {
  font-family: "Open Sans Condensed";
  font-style: normal;
  font-weight: 300;
  margin: 0;
  padding: 110px 20px 0 20px;
  text-align: left;
  color: #eb6355;
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
}
/* line 61, ../sass/features.scss */
.features .container-left h3 {
  padding: 60px 20px 0 20px;
}
/* line 65, ../sass/features.scss */
.features .container p {
  color: #827869;
  font-size: 16px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  text-align: left;
  line-height: 30px;
  padding: 0 20px 0 20px;
}
/* line 76, ../sass/features.scss */
.features img {
  display: block;
}

/* line 81, ../sass/features.scss */
.widget {
  padding-top: 110px !important;
}

/* - - - - - - - - - - WIDGET - - - - - - - - - - */
/* line 3, ../sass/_widget.scss */
.bs-widget-frame {
  background: #fff;
  max-width: 600px;
  width: 100%;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 30000;
  padding: 20px;
  margin: 0 auto;
  -moz-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.3);
}

/* line 16, ../sass/_widget.scss */
.form-inline-widget {
  width: 100%;
  -webkit-appearance: none;
  display: block;
  float: right;
  z-index: -2;
  margin-bottom: 20px;
}

/* line 25, ../sass/_widget.scss */
.form-group-widget {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  -webkit-appearance: none;
  width: 53%;
}

/* line 33, ../sass/_widget.scss */
.form-control-widget {
  padding: 18px 18px;
  font-size: 26px;
  width: 90%;
  display: block;
  background-color: #F0EEEA;
  border: none;
  margin: 0;
  -webkit-appearance: none;
  font-family: "Open Sans Condensed";
  font-style: normal;
  font-weight: normal;
  -moz-box-sizing: border-box;
}

/* line 48, ../sass/_widget.scss */
.btn-widget {
  color: #fff;
  background-color: #eb6355;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  margin: 0;
  font-family: "Open Sans Condensed";
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  box-sizing: border-box;
  float: right;
  padding: 18px 50px;
  font-size: 26px;
  margin-right: 0;
}

/* line 69, ../sass/_widget.scss */
.btn-widget:hover, .btn-widget:active {
  color: #eb6355;
  background-color: #f6f5f2;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* line 75, ../sass/_widget.scss */
.contact2-3 div.smalltext p {
  font-size: small;
}

/*# sourceMappingURL=style.css.map */
